
@media screen and (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  #resultados {
    color: black;
  }

  h1 {
      font-size: 20px;
      width: 98%;
      margin: 10px auto;
      border-radius: 20px;
      border: 2px solid black;
      text-align: center;
      left: 0;
      top: 1vw;
  }

  .namesite {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
  }

  .h3pai {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;
    align-items: center;
  }

  h3 {
    font-size: 14px;
    text-align: center;
  }

  .ver, .apagar {
    font-size: 12px;
    padding: 6px 10px;
    margin: 4px;
  }

  .inputpai {
    display: flex;
            width: 90%;
            margin: 20px auto;
            gap: 10px;
            flex-direction: column;
            flex-wrap: nowrap;
  }

  .inputpai input {
    padding: 5px;
    font-size: 14px;
    position: relative;
    top: 7vw;
    right: 2%;
  }

  .inputpai .buscar {
    width: 12%;
    font-size: 14px;
    height: 21%;
    top: 27.6%;
    left: 90.2%;
  }

  .redbanco {
    top: -38vw;
        font-size: 12px;
  }

  .namebut {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
  }

  #mapa {
    left: 0vw;
    width: 90%;
    height: 130px;
    margin: 20px auto;
  }

  #tagLocalizacao {
    text-align: center;
    margin: 10px auto;
  }

  #pais {
    position: relative;
        left: 65%;
        top: -0.8em;
  }

  .sensacao {
    position: relative;
    left: -8vw;
    bottom: 130px;
    font-weight: bold;
    font-size: 17px;
  }

  .ar {
    position: relative;
    bottom: 40vw;
    left: -10vw;
  }

  select#mudatemas {
    width: 20%;
        margin: 10px auto;
        display: block;
        font-size: 12px;
        padding: 4px;
        left: 35vw;
        height: 7%;
        top: -26vw;
    }
   
  }

  #resultado {
    width: 90%;
    height: auto;
    background: transparent;
    border: none;
    margin: 10px auto;
    text-align: center;
    bottom: 39vw;
  }

  #resultado2 {
    left: -0.5vw;
    width: 90%;
    margin: 10px auto;
    text-align: center;
  }

  .cidade {
    bottom: 50vw;
    font-size: 20px;
    width: 100%;
    padding: 3px;
    background: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
  }

  .temperatura {
    bottom: 45vw;
        text-align: center;
        font-size: 35px;
        position: relative;
        right: 20vw;
  }

  .minima {
    position: relative;
        bottom: 65vw;
        right: 15vw;
        font-size: 13px;
  }

  .maxima {
    position: relative;
        bottom: 80vw;
        right: 15vw;
        font-size: 13px;
  }

  .ar {
    text-align: center;
    margin-top: 10px;
  }

  #resultado1 {
    bottom: 6vw;
    left: -2vw;
    display: none;
    color: white;
    background: radial-gradient(circle, rgb(4, 4, 138), black);
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    width: 90%;
    font-size: 14px;
    font-weight: bold;
  }

  .data {
    position: relative;
    right: 18vw;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    bottom: -45vw;
  }

  #resultado3 {
    border: transparent;
    display: none;
    width: 90%;
    margin: 20px auto;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background: transparent;
    text-align: center;
  }

    .hora {
      position: relative;
      right: 51vw;
      top: 30vw;
      text-align: center;
  }

  .previsaoDias {
    position: relative;
    bottom: 15vw;
    margin-top: 20px;
    text-align: center;
  }

  .dias {
    position: relative;
    display: flex
;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
    right: 6vw;
  }

  #fechar {
    position: relative;
    font-weight: bold;
    bottom: 315vw;
    left: 305px;
    border-radius: 50px;
    padding: 2px;
    background-color: white;
    border: solid black 2px;
    cursor: pointer;
    width: 70px;
    font-size: 13px;
    height: 30px;
    left: 20px;
  }

  .card-dias {
    width: 100px;
    height: 140px;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid white;
    background: radial-gradient(circle, rgb(4, 4, 138), black);
    color: white;
    margin: 10px auto;
    text-align: center;
  }
}
